# Test correctness results.
# Does not include command monitoring expectations or outcome assertions to make tests more readable.
# Requires libmongocrypt 1.7.0.
runOn:
  - minServerVersion: "6.2.0"
    # FLE 2 Encrypted collections are not supported on standalone.
    topology: [ "replicaset", "sharded", "load-balanced" ]
database_name: &database_name "default"
collection_name: &collection_name "default"
data: []
encrypted_fields: &encrypted_fields {{ yamlfile("encryptedFields-Range-Int.json") }}
key_vault_data: [ {{ yamlfile("keys/key1-document.json") }} ]
tests:
  - description: "Wrong type: Insert Double"
    clientOptions:
      autoEncryptOpts:
        kmsProviders:
          local: {{ local_provider() }}
    operations:
      - name: insertOne
        arguments: { document: { _id: 0, encryptedInt: { $numberDouble: "0" }} }
        result:
          # Expect an error from mongocryptd.
          errorContains: "cannot encrypt element"

  - description: "Wrong type: Find Double"
    clientOptions:
      autoEncryptOpts:
        kmsProviders:
          local: {{ local_provider() }}
    operations:
      - name: insertOne
        arguments: { document: { _id: 0, encryptedInt: { $numberInt: "0" }} }
      - name: find
        arguments:
          filter: { encryptedInt: { $gte: { $numberDouble: "0" } }}
          # sort so results from range queries are ordered.
          sort: { _id: 1 }
        result:
          # expect an error from libmongocrypt.
          errorContains: "field type is not supported"
